header {
    background-color: #EEEEEE;
    padding: 20px 0;
}

.Caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 1%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #0c2252;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    border: 5px solid #091a3d;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 1.5%;
    padding: 30px 20px;
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.productos h2{
    font-size: 30px;
    font-weight: bolder;
}

.descripcion-producto{
    font-size: 18px;
}
.precio-producto{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 10px;
}