header {
    background-color: #EEEEEE;
    padding: 20px 0;
}

.Caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 1%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #0c2252;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #AAAAAA;
    text-decoration: underline #0c2252;
}

main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px 0;
}

form label{
	color: #0c2252;
	display: block;
	font-size: 20px;
	margin: 10px 0 10px;
}

.inputPadre{
	color: #0c2252;
	display: block;
	margin: 10px 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.tituloContacto{
	font-size: 20px;
	font-weight: bold;
	color: #0c2252;
	margin: 10px 0 10px;
}

.horario{
	color: #0c2252;
	font-size: 16px;
	font-style: italic;
	font-weight: bolder;
	margin: 20px 0;.
}

.horarios{
    margin: 40px 40px;
}

thead{
    background: #0c2252;
    color: white;
    font-weight: bolder;
    padding: auto;
}

th{
    border: 2px solid darkgray;
    padding: 8px 15px;
} 
td{
    border: 1px solid #0c2252;
    padding: 8px 15px;
}

.checkbox{
	margin: 20px 0;
}

.btnEnviar{
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
	width: 48%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #0c2252
}

.btnEnviar:hover{
    background: darkorange;
    transform: scale(1.1);
}
footer{
    background: url(imagenes/bg.jpg);
    padding: 40px;
    text-align: center;
}

.copyright{
    color: #AAAAAA;
    font-size: smaller;
    margin: 20px;
}