body{
    background-color: #CCCCCC;
}

.Caja{
    width: 940px;
    margin: 0 auto;
		text-align: right;
}


nav ul{
		position: inline;
    top: 110px;
    right: 1%;
}


nav li {
    display: inline-flex;
    margin: 0 0 0 15px;
		text-align: right;
}

nav a {
    text-transform: uppercase;
    color: #0c2252;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #AAAAAA;
    text-decoration: underline #0c2252;
}

#banner{
    width: 100%;
}

.tituloPrincipal{
    color: #0c2252;
    display: inline;
    padding-left: 30px;
    width: 40%;
}

nav{
    text-align: right;
    width: 30%;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #0c2252;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}


.principal{
    background: #DDDDDD;
    padding: 20px;
}

.tituloCentralizado{
    font-size: 32px;
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: #0D47A1;
}

#Mision{
    font-size: 20px;
}

.diferenciales{
    background: hsl(214, 61%, 25%);
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

.items{
    font-style: italic;
    width: 800px;
}

ul{
    display: inline;
    margin-right: 10px;
    vertical-align: top;
    width: 10%;   
}

.imagenDiferenciales{
    width: 50%;
}